@tailwind base;
@tailwind components;
@tailwind utilities;

/* curriculam css */
.bg-img {
    background-image: url(../assets/photo-11-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2A44A0;
    /* margin: 0 50px; */
    margin-top: 60px;
}

/* .curiculam {
    margin: 0 10px !important;
}

.service {
    margin: 0 10px !important;
} */

.news-image:hover {
    transform: scale(1.1);
    z-index: -1;
}